<div class="spaces10">
    <div>

        <div>
            <div>{{mResult[ 12 ]}}</div>
        </div>
        <div>
            <div>{{mResult[ 0 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 1 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 2 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 3 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 4 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 5 ]}}</div>
        </div>

        <div style="width: 5px">
            <div>{{mResult[ 6 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 7 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 8 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 9 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 10 ]}}</div>
        </div>

        <div>
            <div>{{mResult[ 11 ]}}</div>
        </div>



    </div>
</div>
